// 屏幕宽度
$xs-screen: 768px;
$sm-screen: 992px;
$md-screen: 1200px;
$lg-screen: 1920px;

$m-padding: 12px;
$s-padding: 4px;

// color
$red: #F56C6C;
$light-red: #ffeaea;
$green: #16BB83;
$warning: #E9A71D;
$primary: #0B8BF4;
$light-primary: #e2eeff;
$gray: #666666;
$deep-gray: #4b4e56;
$light-gray: #eaecef;
$black: #24292e;
$white: #ffffff;





